body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    box-sizing: border-box;
}

header {
    background-color: #344e41;
    color: white;
    text-align: center;
    padding: 20px;
}

.search-bar {
    margin-top: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 20px 0;
    height: 70vh;
}

.carousel-item {
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start;
    position: relative;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 80%;
    display: block;
    border-bottom: 1px solid #ddd;
    object-fit: contain;
}

.carousel-item > img:hover {
    cursor: pointer;
}

.description {
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-indicators button {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    border: none;
    cursor: pointer;
}

.carousel-indicators button.active {
    background-color: #344e41;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #344e41;
    color: white;
}

@media screen and (max-width: 600px) {
    .carousel-item {
        min-width: 150px;
    }
}


/* Loading Spinner */
#loadingSpinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}