body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #344e41;
    color: white;
    padding: 10px 20px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar > #searchQueryInput {
    padding: 5px;
    margin-right: 10px;
}

.search-bar > button {
    padding: 5px 10px;
    background-color: #588157;
    color: white;
    border: none;
    cursor: pointer;
}

.container { /*this is the main tag */
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    flex: 1;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease
}

.carousel img {
    width: 100%;
    height: auto;
    object-fit: fill;
}
.carousel-indicators {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.carousel-indicators button {
    background-color: #ccc;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 10px;
    margin: 0 5px;
    width: 10px;
}

.carousel-indicators button.active {
    background-color: #588157;
}